<?xml version="1.0"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
  <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--make-principal core0 --name client0"/>
  <booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
  <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fabric.client.Client"/>
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
    <listEntry value="4"/>
  </listAttribute>
  <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="fabric"/>
  <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
    <listEntry value="/fabric"/>
  </listAttribute>
</launchConfiguration>